* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    background-color: #1e2529;
    
}



.title {
    color: rgb(177, 172, 172);
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

.display {
    color: rgb(177, 172, 172);
    font-size: 25px;
    text-align: center;
   
}


.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}

.controls button {
    color: white;
    background-color: #09C372;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}

.scores{
    color: rgb(177, 172, 172) ;
    margin-left: 100px;
    font-size: 15px;
}

#player1Score{
    color: #09C372;
}
#player2Score{
    color: #498AFB;
}
